# 第3章　まずはPythonから

Python言語リファレンス　
http://docs.python.jp/3.5/reference/index.html#reference-index　

Python標準ライブラリー　
http://docs.python.jp/3.5/library/index.html　　

Python 3.5.x ドキュメント 
http://docs.python.jp/3.5/index.html


## 3.2 Python プログラムをはじめよう

In [1]:
"""
make 
innovation 
happen
"""

'\nmake \ninnovation \nhappen\n'

In [2]:
a=['x','y']
if 'x' in a:# もし文字xがリストaに含まれればOKと表示する。
    print("OK")

OK

In [3]:
a=[1,2,3]
for i in a:
    print(i),#print文の最後にカンマ(,)を置くと改行されない。

1
2
3

## 3.3 いよいよPython 標準ライブラリーについて学ぼう

In [4]:
x="a,b,c d e" #文字列xを","で区切る。
x.split(",")

['a', 'b', 'c d e']

In [5]:
a="vwxyz"# リストaの文字列vwxyzに文字列vwが含まれればTrueを返す。
'vw' in a

True

In [6]:
a=["x","y","z"]# 文字xがaの要素に含まれればTrueを返す。
'x' in a

True

In [7]:
a=[1,2,3,4,5]
a             # a と書くだけでaに保存されているデータが表示される。

[1, 2, 3, 4, 5]

In [8]:
a[1]# 要素の位置の指定は左端から始まり、左端はゼロであるので、
    #1は左端から2番目を表す。

2

In [9]:
a[-3]# 数字にマイナスをつけた場合は右端からの位置を表すので、
     #右から三番目の要素の内容が表示される。

3

In [10]:
a[-3:]#　右端から3番目から右端までの要素をスライス（切り取って）して表示する。

[3, 4, 5]

In [11]:
a+[10,11,12]# これはリストaに10,11,12を加えている。

[1, 2, 3, 4, 5, 10, 11, 12]

In [12]:
data1=['2013/1/1',1]#日付、価格
data2=['2014/1/1',2]
data3=data1+data2
data3

['2013/1/1', 1, '2014/1/1', 2]

In [13]:
data4=['2013/1/1',1]#日付、価格
data5=['2014/1/1',2]
data6=[data4,data5]
data6

[['2013/1/1', 1], ['2014/1/1', 2]]

In [14]:
data7=['2013/1/1','2014/1/1']#日付
data8=[1,2]#価格
data9=[data7,data8]
data9

[['2013/1/1', '2014/1/1'], [1, 2]]

In [15]:
data10=['2013/1/1',1]#日付、価格
data11=['2014/1/1',2]
data12=[data10,data11]
data13=zip(*data12)#行と列を入れ替える。それぞれ2つのリストはタプルとなる。
data13

In [16]:
data14=['2011/1/1']
data14.append('2012/1/1')# 日付の追加。
data14

['2011/1/1', '2012/1/1']

In [17]:
data15=['2013/1/1',1]#日付、価格
data16=['2014/1/1',2]
data17=['2015/1/1',2]
data18=[data15,data16]
data18.append(data17)
data18

[['2013/1/1', 1], ['2014/1/1', 2], ['2015/1/1', 2]]

In [18]:
data19=['2013/1/1','2014/1/1']#日付
data20=[1,2]#価格
data21=[data19,data20]
data21.append([100,200])
data21

[['2013/1/1', '2014/1/1'], [1, 2], [100, 200]]

In [19]:
data22=['2013/1/1','2014/1/1']#日付
data23=[1,2]#価格
data24=[data22,data23]
data24[0].append('2015/1/1')#日付
data24[1].append(3)#価格
data24

[['2013/1/1', '2014/1/1', '2015/1/1'], [1, 2, 3]]

In [20]:
f=[]
k=0
for i in range(2):
    f.append([])
    for j in range(2):
        f[k].append(j+k)
    k+=1
f

[[0, 1], [1, 2]]

In [21]:
#リスト内包記の例：
a=["abc",3]
[x*2 for x in a]

['abcabc', 6]

In [22]:
c_dic={'b':'blue','g':'green','r':'red','c':'cyan'}
print(c_dic)

{'r': 'red', 'c': 'cyan', 'b': 'blue', 'g': 'green'}

In [23]:
#辞書内包記の例
y=[1,3,9]
{str(x):x**2 for x in y}

{'1': 1, '3': 9, '9': 81}

## 3.4 とりあえずの基本モジュールはDatetimeだけ！

In [24]:
from datetime import datetime
now=datetime.now()
now

datetime.datetime(2016, 11, 3, 19, 32, 23, 263603)

In [25]:
dtime=now-datetime(2014,4,1)
dtime

datetime.timedelta(947, 70343, 263603)

In [26]:
dtime.days, dtime.seconds

(947, 70343)